/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
  
  /* Control the left side */
.left {
    left: 0;
    background-color: #3A80ED;
}
  
  /* Control the right side */
.right {
    right: 0;
    background-color: #EF994A;
}
  
  /* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
  
  /* Style the image inside the centered container, if needed */
.centered img {
    width: 150px;
}

#random_pokemon_image_url_id {
    height: 10%;
    position: absolute;
    left: 50%;
    z-index: 2;
}
ul {
    width: 100%;
    display: flow-root;
    justify-content: space-around;
}

li {
    margin: 10px;
}



button {
    width: 100%;
    background-color: #ef994a;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

ul {
    list-style-type: none;
}